syntax:glob

# Maven build artifacts
target
log

# Eclipse project files
.classpath
.project
.settings

# Maven relase leftovers
*.releaseBackup

logs
*.json.zip

# Backup files
*~
*.orig

#local ant files
build.xml

#
#
