<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="DEBUG_FILE" class="trading.util.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="Threshold" value="DEBUG" />
		<param name="MaxDaysOld" value="5" />
		<param name="DatePattern" value="yyyy-MM-dd'.'" />
		<param name="File" value="${log.file}" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %t [%c] %m%n" />
		</layout>
	</appender>

	<category name="org.codehaus.jackson">
		<priority value="DEBUG" />
	</category>

	<category name="trading">
		<priority value="DEBUG" />
	</category>

	<!-- log sql params, not result set. -->
	<category name="java.sql.PreparedStatement">
		<priority value="DEBUG" />
	</category>
	<category name="java.sql.Connection">
		<priority value="DEBUG" />
	</category>
	<category name="org.mortbay">
		<priority value="ERROR" />
	</category>
	<category name="org.springframework.scheduling.quartz">
		<priority value="INFO" />
	</category>	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="DEBUG_FILE" />
	</root>
</log4j:configuration>

